{% extends 'base.html' %}

{% block content %}

{% include 'movies/genres.html' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="genresPieChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 p-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="genresBarChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% include 'movies/search_movie.html' %}

    <div class="row">
        <div class="col-12 p-2">
            <div class="card">
                <div class="card-body">
                    {% include 'movies/ratings.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}