{% extends 'base.html' %}

{% block javascript %}
<script>
    const endpoint = '/genres'
    const bgColors = [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)',
        'rgba(25, 206, 86, 0.5)',
        'rgba(75, 12, 192, 0.5)',
        'rgba(153, 102, 135, 0.5)',
        'rgba(185, 19, 62, 0.5)'
    ]

    $.ajax({
        method: 'GET',
        url: endpoint,
        success: (response) => {
            const {
                count,
                genres
            } = response
            const data = {
                labels: genres,
                datasets: [{
                    data: count,
                    backgroundColor: bgColors,
                    borderWidth: 1
                }]
            }
            let ctx = document.getElementById('genresPieChart').getContext('2d')
            const pieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {
                    title: {
                        display: false,
                        text: 'Genres',
                        fontSize: 25
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    }
                }
            })
            ctx = document.getElementById('genresBarChart').getContext('2d')
            const barChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    title: {
                        display: false,
                        text: 'Genres',
                        fontSize: 25
                    },
                    legend: {
                        display: false,
                        position: 'right'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                    }
                }
            })
        },
        error: (error) => {
            alert(error)
        }
    })
</script>
{% endblock %}